@font-face {
    font-family: 'typewriter_condensedregular';
    src: url('typewcond_regular-webfont.woff2') format('woff2'),
         url('typewcond_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.Type
{
	font-family: 'typewriter_condensedregular';
	font-weight: bold;
}